{% extends 'admin/base.html.twig' %}

{% form_theme form _self %}
{%- block radio_widget -%}
<input type="radio" name="{{ fullname }}" id="radio{{ value }}" value="{{ value }}" {% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}

{% block title %}add tache
{% endblock %}
{% block h2 %}Ajouter une tâche
{% endblock %}
{% block content %}


	{# <form class="col-10 d-flex mt-5"> #}
			{{ form_start(form, {'attr': {'class': 'col-10 d-flex mt-5'}})}}

		<div class="w-100 d-flex justify-content-around">
			<div>
				<div class="row">
					<div class="col">
						<label for="">Date de prise en charge</label>
					{{ form_widget(form.date_supported, {'attr': {'class': 'form-control'}})}}
						{# <input type="date" class="form-control"> #}
					</div>
					<div class="col">
						<label for="">Date de fin estimée</label>
					{{ form_widget(form.date_end, {'attr': {'class': 'form-control'}})}}
						{# <input type="date" class="form-control"> #}
					</div>
				</div>
				<div class="col mx-auto mt-4">
					{# <input type="text" class="form-control" placeholder="Durée estimée"> #}
					{{ form_widget(form.duration, {'attr': {'class': 'form-control','placeholder':'Durée estimée'}})}}
				</div>
				<div class="form-group">
					{# <textarea class="form-control resize mt-4" id="" placeholder="Description" rows="5"></textarea> #}
					{{ form_widget(form.description, {'attr': {'class': 'form-control resize mt-4','placeholder':'Description', 'rows':'5'}})}}
				</div>
				<div class="form-group">
					{# <input type="file" class="form-control-file" id=""> #}
					{{ form_widget(form.image, {'attr': {'class': 'form-control-file'}})}}
				</div>
			</div>
			<div class="col-5">
				<div class="row mx-auto">
					<input class="form-control mr-sm-2 col-10" type="search" placeholder="Email">
					<div>
						<button class="btn bg-black text-white my-2 my-sm-0 ml-3">Valider</button>
					</div>
				</div>
				<div class="col-12 mt-5 p-0">
					<div class="mt-4">
						<div class="form-check">
							{# <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked> #}
							{{ form_widget(form.client.genre, {'attr': {'class': 'form-control radio-custom bord'}})}}
							{# <label class="form-check-label" for="exampleRadios1">Monsieur</label> #}
						</div>
						{# <div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
							<label class="form-check-label" for="exampleRadios2">Madame<label></div>
							</div> #}
							<div class="row p-0 mt-4">
								<div class="col">
									{# <input type="text" class="form-control" placeholder="Nom"> #}
									{{ form_widget(form.client.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}})}}
								</div>
								<div class="col">
									{# <input type="text" class="form-control" placeholder="Prénom"> #}
									{{ form_widget(form.client.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}})}}
								</div>
							</div>
							<div class="row  mt-4">
								<div class="col">
									{# <input type="email" class="form-control" placeholder="email"> #}
									{{ form_widget(form.client.email, {'attr': {'class': 'form-control', 'placeholder': 'Email' }})}}
								</div>
								<div class="col">
									{# <input type="text" class="form-control" placeholder="Téléphone"> #}
									{{ form_widget(form.client.phonenumber, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}})}}
								</div>
							</div>
							<div class="mt-4 d-flex justify-content-end">
								<button class="btn bg-black text-white my-2 my-sm-0 ml-3" type="submit">Enregistrer Réparation</button>
							</div>
						</div>
					</div>
				</div>
				{{ form_end(form) }}
			{# </form> #}
		{% endblock %}
