{% extends 'admin/base.html.twig' %}

{% block title %}List employee
{% endblock %}
{% block h2 %}Liste des employés{% endblock %}
{% block content %}
	

	<div class="col-10 mt-5">
		<table class="table table-striped table-dark text-center">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Téléphone</th>
					<th scope="col">Éditer</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in allEmployee %}
				<tr>
					<th scope="row">{{ employee.id }}</th>
					<td>{{ employee.lastname }}</td>
					<td>{{ employee.firstname }}</td>
					<td>{{ employee.email }}</td>
					<td>{{ employee.phonenumber }}</td>
					<td>
						<a href="/admin/editemployee/{{employee.id}}">
							<i class="icofont-arrow-right text-white"></a>
						</i>
					</td>
					<td>
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input employeeswitches" id="customSwitches{{employee.id}}" employeeswitches="{{employee.id}}" {% if employee.isActive %} checked {% endif %}>
							<label class="custom-control-label" for="customSwitches{{employee.id}}"></label>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-end">
			<a class="btn bg-black text-white" href="/admin/addemployee">Ajouter un employé
			</a>
		</div>
	</div>
{% endblock %}
